@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --github-000: #0d1116;
        --github-100: #161b22;
        --github-200: #0d4429;
        --github-300: #016d32;
        --github-400: #27a641;
        --github-500: #3ad353;

        --background: #000;
        --foreground: #fff;
        --muted: #232932;
        --muted-foreground: #9ca4b0;
        --destructive: 0 62.8% 30.6%;
        --border: #232932;

        --radius: 0.5rem;

        /* // could use these instead of the transform origin */
        --x: 50%;
        --y: 50%;
    }
}

@layer base {
    /* * {
        @apply border-border;
    } */
    body,
    html {
        height: 100vh;
    }
    body {
        overflow: hidden;

        @apply bg-background text-foreground;
    }
}

@layer components {
    .debug {
        @apply outline-[magenta] outline-1 outline;
    }

    .spotlight {
        transform: scale(2);
        position: absolute;
        inset: 0;
        overflow: hidden;
        background: radial-gradient(
            circle,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.7) 48%,
            rgba(0, 0, 0, 1) 100%
        );
    }
    /* .spotlight {
        transform: scale(2.5) scaleY(0.7);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: radial-gradient(
            circle at var(--x, 50%) var(--y, 50%),
            hsl(0, 0%, 100%) 20%,
            rgba(0, 0, 0, 0.507) 30%
        );
        mix-blend-mode: var(--blend, multiply);
    } */
    .graphPaper {
        background-color: white;
        background-size: 10px 10px;
        background-position: -1px -1px;
        background-image: linear-gradient(0deg, #232b28 1px, transparent 1px, transparent),
            linear-gradient(90deg, #232b28 1px, transparent 1px, transparent);
    }
}
