@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 213.33 24.32% 7.25%;
        --foreground: 20 14.3% 4.1%;

        --card: 213.33 24.32% 7.25%;
        --card-foreground: 20 14.3% 4.1%;

        --popover: 213.33 24.32% 7.25%;
        --popover-foreground: 20 14.3% 4.1%;

        --primary: 24 9.8% 10%;
        --primary-foreground: 60 9.1% 97.8%;

        --secondary: 60 4.8% 95.9%;
        --secondary-foreground: 24 9.8% 10%;

        --muted: 60 4.8% 95.9%;
        --muted-foreground: 25 5.3% 44.7%;

        --accent: 60 4.8% 95.9%;
        --accent-foreground: 24 9.8% 10%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 60 9.1% 97.8%;

        --border: 20 5.9% 90%;
        --input: 20 5.9% 90%;
        --ring: 20 14.3% 4.1%;

        --radius: 0.5rem;

        /* // could use these instead of the transform origin */
        --x: 50%;
        --y: 50%;
    }

    .dark {
        --background: 20 14.3% 4.1%;
        --foreground: 60 9.1% 97.8%;

        --card: 20 14.3% 4.1%;
        --card-foreground: 60 9.1% 97.8%;

        --popover: 20 14.3% 4.1%;
        --popover-foreground: 60 9.1% 97.8%;

        --primary: 60 9.1% 97.8%;
        --primary-foreground: 24 9.8% 10%;

        --secondary: 12 6.5% 15.1%;
        --secondary-foreground: 60 9.1% 97.8%;

        --muted: 12 6.5% 15.1%;
        --muted-foreground: 24 5.4% 63.9%;

        --accent: 12 6.5% 15.1%;
        --accent-foreground: 60 9.1% 97.8%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 60 9.1% 97.8%;

        --border: 12 6.5% 15.1%;
        --input: 12 6.5% 15.1%;
        --ring: 24 5.7% 82.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body,
    html {
        height: 100vh;
    }
    body {
        overflow: hidden;

        @apply bg-background text-foreground;
    }
}

@layer components {
    .debug {
        @apply outline-[magenta] outline-1 outline;
    }

    .spotlight {
        transform: scale(2);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: radial-gradient(
            circle,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.7) 48%,
            rgba(0, 0, 0, 1) 100%
        );
    }
    /* .spotlight {
        transform: scale(2.5) scaleY(0.7);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: radial-gradient(
            circle at var(--x, 50%) var(--y, 50%),
            hsl(0, 0%, 100%) 20%,
            rgba(0, 0, 0, 0.507) 30%
        );
        mix-blend-mode: var(--blend, multiply);
    } */
    .graphPaper {
        background-color: white;
        background-size: 10px 10px;
        background-position: -1px -1px;
        background-image: linear-gradient(0deg, #1a2923 1px, transparent 1px, transparent),
            linear-gradient(90deg, #1a2923 1px, transparent 1px, transparent);
    }
}
